# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caching directories
*.egg-info/
dist/
build/
.cache/
pytest_cache/
mypy_cache/
mypy_output/
__pycache__/

# Environment files
.env
.env.*
.envrc

# IDE files
.idea/
.vscode/
*.iml

# Dependency directories
venv/
env/
.venv/
ENV/

# Log files
*.log
log/
logs/
log.txt
logs.txt

# Test files
test_*.py
*_test.py
tests/

# Other files
.DS_Store
*.sqlite3
*.sql
*.json
*.yaml
*.ini

# Documentos de mongodb
mongo-data

#Canciones
Biblioteca/

#go

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
